<%= stylesheet_link_tag "site" %>
<script>
  points = []
  <% @map.each do |r| %>
  points.push({"lat": <%=r["lat"]%>, 
               "long": <%= r["long"] %>,
               "title": "<%= r["title"] %>, <%= r["date"] %>",
               "description": "<%= r["description"] %>"
             });
  <% end %>
</script>
<div id="ew_emblem">&nbsp;</div>
<div id="map" ></div>
